<md-dialog aria-label="Atividades da Viagem"
           id="atividades">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Despesas de Viagem</h2>
                <span flex></span>
                <md-button class="md-icon-button"
                           ng-click="despesa.cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content ng-hide="despesa.showLista">
            <div class="md-dialog-content"
                 layout="column">
                <md-input-container>
                    <label>Atividade</label>
                    <input ng-model="despesa.selected.name"
                           md-autofocus>
                </md-input-container>
                <md-input-container>
                    <label>Valor</label>
                    <input ng-model="despesa.selected.price"
                           type="number">
                </md-input-container>
                <md-input-container>
                    <label>Endereço</label>
                    <input ng-model="despesa.selected.address">
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-content ng-show="despesa.showLista">
            <div class="md-dialog-content">

                <table class="killer-grid">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Atividade</th>
                            <th>Valor</th>
                            <th>Endereço</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="atividade in despesa.dia.lista"
                            ng-click="despesa.editar(atividade)">
                            <td></td>
                            <td>{{atividade.name}}</td>
                            <td>{{atividade.price}}</td>
                            <td>{{atividade.address}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button md-autofocus
                       ng-click="despesa.ok()">
                Salvar
            </md-button>
            <md-button md-autofocus
                       ng-click="despesa.voltar()"
                       ng-hide="despesa.showLista">
                Voltar
            </md-button>
            <md-button ng-click="despesa.add()"
                       ng-show="despesa.showLista">
                Adicionar
            </md-button>
            <md-button ng-click="despesa.excluir()"
                       ng-hide="despesa.hideExcluir()">
                Exluir
            </md-button>
            <span flex></span>
        </md-dialog-actions>
    </form>
</md-dialog>